<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAl1Ew_hovtACiP61xKmMBmvCGxTFH0Zes</string>
	<key>GCM_SENDER_ID</key>
	<string>513469735831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vtechChallenge</string>
	<key>PROJECT_ID</key>
	<string>vtechchallenge</string>
	<key>STORAGE_BUCKET</key>
	<string>vtechchallenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513469735831:ios:8256fee8d3465f36c35ad2</string>
</dict>
</plist>